@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import './components.css';

:root {
  color-scheme: light;
}

@theme {
  --navbar-height: 4rem;
  --color-primary: #f5a523;
  --color-rootbackground: #f2f2f2;
  --color-rootheader: #ffffff;
  --color-muted: #b4b4b4;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  color-scheme: dark;
  --color-rootbackground: #161616;
  --color-rootheader: #272727;
  --color-muted: #c1c1c3;
}

body {
  background: var(--color-rootbackground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .dev {
    border: 1px solid red;
  }
}

@media (min-width: 768px) {
  :root {
    --navbar-height: calc(4rem + 1px);
  }
}

* {
  @apply [&::-webkit-scrollbar]:w-2;
  @apply [&::-webkit-scrollbar-thumb]:rounded-full;

  @apply [&::-webkit-scrollbar-track]:bg-[(--color-background)];
  @apply [&::-webkit-scrollbar-thumb]:bg-[#c5c6c7];

  @apply dark:[&::-webkit-scrollbar-thumb]:bg-[#404040];
  @apply dark:[&::-webkit-scrollbar-track]:bg-[(--color-background)];
}

button {
  outline: none;
}
